
.flash-box
  %p.notice グループを作成しました
.wrapper
  .chat__side
    .side__header
      .side__header__box
        %p.side__header__box__user-name
          = current_user.name
        %ul.side__header__box__menu
          %li.side__header__box__menu__new-group
            %i.fa.fa-edit
              -# =link_to new_group_path do
              -#   = fa_icon 'pencil-square-o', class: 'icon'
          %li.side__header__box__menu__edit-user
            %i.fa.fa-cog
              -# = link_to edit_user_path(current_user) do
              -#   = fa_icon 'cog', class: 'icon'
    .groups
      .group
        %p.group__group-name グループ名
        %p.group__latest-message みこと
      .group
        %p.group__group-name グループ名
        %p.group__latest-message まだメッセージがありません

  .chat__main
  
    .main-header
      .main-header__leftbox
        %h2.main-header__leftbox__currentgroup
          グループ名
        %h1.main-header__leftbox__memberlist
          Member：aaaaaa
      .main-header__leftbox__edit-btn
        =link_to "Edit","#",class:"main-header__leftbox__edit-btn__text"
        

    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker Makizushi
          %p.message__upper-info__date 2019/10/15(Tue) 21:17:15
        %p.message__text mikoto

    .form
      %form
        %input.form__message{placeholder: "type a message"}
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}

